/* Keyframes */
@keyframes a-typing {
  0%    { opacity: 1 }
  35%   { opacity: 0 }
  55%   { opacity: 1 }
  100%  { opacity: 1 }
}

html {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F7F9FA;
}

.o-msg {
  width: 100%;
  position: relative;
  z-index: 10;
}
.o-msg:after {
  content: ''; clear: both; display: table;
}
  .o-msg__content {
    padding: 0.5rem;
    max-width: 70%;
    border-radius: 8px;
    margin: 0 1.25rem 0.75rem;
    background-color: #FFFFFF;
    float: left;
    position: relative;
  }
  .o-msg__content--right { background-color: #DCF8C6; float: right; }

  .o-msg__name {
    font-size: 0.9rem;
    color: blue;
    margin-bottom: 0.25rem;
  }
  .o-msg__timestamp {
    font-size: 0.75rem;
    margin-left: 0.5rem;
    color: #aaa;
    float: right;
    line-height: 1.5rem;
    height: 1.15rem;
  }

.c-page {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}
.c-header {
  min-height: 4rem;
  width: calc(100% + 1px);
  background-color: #07594A;
  position: absolute;
  color: white;
  display: table;
  z-index: 20;
}
  .c-header__inner {
    display: table-cell;
    vertical-align: middle;
  }
  .c-header__photo {
    width: 40px; height: 40px;
    background: url('../img/photo.jpg') no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: 1rem;
  }
  .c-header__name {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
  }
  .c-header__typing {
    font-size: 0.8rem;
    display: none;
  }
    .c-header__typing.active {
      display: block;
      animation: a-typing 2s step-end infinite;
    }
  .c-header__contacts {
    font-size: 1.5rem;
    text-align: right;
    padding-right: 1rem;
  }
  .c-header__contacts i { margin: 0 0.25rem; cursor: pointer; }

.c-msg-container {
  width: 100%; height: 100%;
  padding: 4rem 0;
  box-sizing: border-box;
  /*top: 10%;*/
  background: #E5DDD5;
  /*position: absolute;*/
  overflow: auto;
}
  .c-msg-container__table {
    display: table;
    position: relative;
    width: 100%; height: 100%;
  }
  .c-msg-container__cell {
    display: table-cell;
    vertical-align: bottom;
  }
  .c-msg-container__bg {
    content: '';
    width: 100%; height: 100%;
    position: absolute;
    background: url('../img/linux-bg.png');
    background-size: 10%;
    opacity: 0.05;
    top: 0; left: 0;
    z-index: 0;
  }

.c-reply {
  position: absolute;
  left: 0; bottom: 0;
  width: calc(100% + 1px);
  min-height: 4rem;
  z-index: 20;
  background: #F5F1EE;
}
  .c-reply--table { display: table; }
  .c-reply__cell { display: table-cell; vertical-align: middle; text-align: center; }

  .c-reply__input {
    width: 70%;
    height: 2.5rem;
    border: 0;
    border-radius: 5px;
    margin-right: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
  }
  .c-reply__input:disabled {
    opacity: 0;
  }
  .c-reply__btn {
    background-color: #07594A;
    border-radius: 50%;
    color: white;
    width: 2.5rem; height: 2.5rem;
    border: 0px;
    outline: none;
    transition: all 0.5s;
  }
    .c-reply__btn:hover { opacity: 0.9; }
    .c-reply__btn:disabled { opacity: 0.3; }

.u-clearfix{
  content: ''; clear: both; display: table;
}
.u-hide {
  display: none;
}
.u-invisible {
  visibility: none;
}

/* Tooltips */
.c-tooltip {
    position: relative;
    display: inline-block;
}
  .c-tooltip:hover .c-tooltip__text {
    visibility: visible;
  }

  .c-tooltip__text {
    font-family: Helvetica, Arial, sans-serif;
    visibility: hidden;
    min-width: 100px;
    width: auto;
    background-color: black;
    color: white;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 6px;
    padding: 5px 1rem;
    font-size: 0.85rem;

    /* Position the tooltip */
    position: absolute;
    left: 50%;
    transform: translateX(-85%);
    z-index: 1;
    margin-top: 100%;
  }
  .c-tooltip__text:after {
    content: '';
    border-bottom: 7px solid black;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: 100%; left: 85%;
    transform: translateX(-50%);
  }



@media (min-width: 768px) {
  .c-phone-bg {
    position: absolute;
    width: 47.5vh; height: 95vh;
    top: 2%; left: 50%;
    transform: translateX(-50%);
    background: url('../img/iphone.png') no-repeat;
    background-size: contain;
    filter: drop-shadow(0 1rem 1rem rgba(0,0,0,1));
  }

  .c-page {
    width: calc(421 / 500 * 47.5vh);
    height: calc(748 / 1000 * 95vh);
    top: calc(126 / 1000 * 95vh);
    left: calc(40 / 500 * 47.5vh);
    /*width: 421px; height: 748px;
    top: 126px; left: 40px;*/
    position: absolute;
  }
}
